@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Our Team application description page.</p>
    <p>We are dedicated to offering you the best travel experiences by curating exceptional travel packages and
        providing personalized services.</p>
</div>
