@model COMP2139_Assignment1_Nigar_Anar_Adler.Models.Booking

<h2>Booking Confirmation</h2>

<!-- Display booking confirmation details -->
<div>
    <h4>Booking ID: @Model.BookingID</h4>
    <!-- Display other booking details as needed -->
</div>
<p>
    <a asp-action="Index">Back to Hotels</a>
</p>